#links {
  position: relative;
  top: 50px;
}

#links li {
  Display: inline;
  text-decoration: none;
  padding: 20px;
  width: 550px;
  border-style: solid;
  border-color: white;
}

#links a {
  text-decoration: none;
  color: black;
}

.navbar {
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Cursive;
}

#bar {
  font-family: cursive;
  text-decoration: bold;
  text-align:center;
}

#text {
  text-align: center;
  position: relative;
  top: 30px;
}

#planner {
  font-size: 20px;
  text-align: center;
  font-family: cursive;
}

body {
  background-size: 500px;
}

h3 {
  text-align: center;
  font-family: cursive;
}

#border {
  border-style: double;
  border-width: 15px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  color: grey;
}

h2 {
  font-family: cursive;
  rgb: 100, 149, 237;
}

.categoryborder{
   border: 5px solid grey;
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}
#grocery{
  text-size:200px;
}
